<br><br><br>
<h5 class="text-center mb-3 mt-3 " style="padding-top: 5em;" >ADD PRODUCTS</h5>
<form action="/admin/add-product" enctype="multipart/form-data" method="post" style="margin-left: 33em;">
  <div class="form-group ml-5" style="width: 25em;">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" name="name" class="form-control d-flex justify-content-center" id="formGroupExampleInput">
  </div>
  {{#if proExist}}
                                           <div class="alert alert-danger" role="alert" style="width: 25.5em;">

                                            <a href="" style="margin-left: 1em;">{{proExist}}</a>
                                                <img src="https://cdn-icons-png.flaticon.com/512/1182/1182679.png" style="height: 1.3em; width: 1.3em; margin-bottom: -0.3em;" alt="">
                                            </div>
                                            {{/if}}
 <label class="form-label">Category</label>
   <select id="category" onchange="getSubcategory()"  class="form-select ml-5" style="width: 22em;
    height: 3em;
    margin-bottom: 1em;" aria-label="Default select example" name="category">
  <option value="" hidden >Select category</option>
  <option value="Men"><a href="">Men</a></option>
  <option value="Women"><a href="">Women</a></option>
  <option value="Kids"><a href="">Kids</a></option>
</select>
<label class="form-label">Sub-Category</label>
   <select id="sub-category" class="form-select ml-5" style="width: 22em;
    height: 3em;
    margin-bottom: 1em;" aria-label="Default select example" name="subcategory">
</select>
  <div class="form-group ml-5" style="width: 25em;"> 
    <label for="formGroupExampleInput2">Price</label>
    <input type="value" required="" name="newPrice" class="form-control" onkeyup="validPrice('new-price')" id="new-price">
  </div>

{{!-- <div class="form-group ml-5" style="width: 25em;">
    <label for="formGroupExampleInput2">old-price</label>
    <input type="value" required="" name="oldPrice" class="form-control"  onkeyup="validPrice('old-price')" id="old-price">
  </div> --}}

  <div class="form-group ml-5" style="width: 12em;
    float: right;
    margin-right: 31.7em;">
    <label for="formGroupExampleInput2">Image</label>
    <input type="file" name="Image" class="form-control" id="formGroupExampleInput2">
  </div>
    {{#if vdoErr}}
                                           <div class="alert alert-danger" role="alert" style="width: 25.5em;">

                                            <a href="" style="margin-left: 1em;">{{vdoErr}}</a>
                                                <img src="https://cdn-icons-png.flaticon.com/512/1182/1182679.png" style="height: 1.3em; width: 1.3em; margin-bottom: -0.3em;" alt="">
                                            </div>
                                            {{/if}}
  </div class="mt-4">
  <div class="form-group ml-5" style="width: 12em;">
    <label for="formGroupExampleInput2">stock</label>
    <input type="value" required="" name="stock" class="form-control"  id="stock" onkeyup="validPrice('stock')">
  </div>
  <br>
    <button type="submit" style="margin-top:1em;border-radius: unset;color:aliceblue;background: #0e4764;padding-inline: 1.2em;" class="btn btn-outline-info float-right">Add</button>
    <br><br><br><br><br><br>
</form>  


<script>

function validPrice(priceId){
        const price = document.getElementById(priceId).value
    const reg = /[a-zA-Z]/;
        if(price==0){
          document.getElementById(priceId).style.borderColor='red'
        return false
        }
    const regex = /^-\d*\.?\d+$/
        if(regex.test(price)==true){
           document.getElementById(priceId).style.borderColor='red'
        return false
        }

         if(reg.test(price)==true){
        document.getElementById(priceId).style.borderColor='red'
         return false;
        }
        document.getElementById(priceId).style.borderColor='#e2e9e1'
        return true
      }


</script>