<br><br><br>

<div class="container">
  <div class="row">
    <div class="col">
        <center>
  <h5 class="mb-3 " style="padding-top: 2em;" >Create Offers</h5>
<form action="/admin/offers"  method="post" style="">
  {{#if proExist}}
                                           <div class="alert alert-danger" role="alert" style="width: 25.5em;">

                                            <a href="" style="margin-left: 1em;">{{proExist}}</a>
                                                <img src="https://cdn-icons-png.flaticon.com/512/1182/1182679.png" style="height: 1.3em; width: 1.3em; margin-bottom: -0.3em;" alt="">
                                            </div>
                                            {{/if}}
 <label class="form-label">Category</label>
   <select id="category" onchange="getSubcategory()"  class="form-select ml-5" style="width: 22em;
    height: 3em;
    margin-bottom: 1em;" aria-label="Default select example" name="category">
  <option value="" hidden >Select category</option>
  <option value="Men"><a href="">Men</a></option>
  <option value="Women"><a href="">Women</a></option>
  <option value="Kids"><a href="">Kids</a></option>
</select>
<label class="form-label">Sub-Category</label>
   <select id="sub-category" class="form-select ml-5" style="width: 22em;
    height: 3em;
    margin-bottom: 1em;" aria-label="Default select example" name="subcategory">
</select>
  <div class="form-group ml-5" style="width: 25em;"> 
    <label for="formGroupExampleInput2">Discount</label>
    <input type="value" required="" name="discount" class="form-control" onkeyup="validPrice('new-price')" id="new-price">
  </div>
  <button type="submit" class="btn btn-success" style="margin-top: 1em;">Create</button>
    <br><br><br><br><br><br>
</form> 
        </center>
    
    </div>
    <div class="col">
        <center>
 <h5 class="mb-3 " style="padding-top: 2em;" >Create Offers</h5>
<form action="/admin/offers-product" method="post" style="">
  {{#if proExist}}
                                           <div class="alert alert-danger" role="alert" style="width: 25.5em;">

                                            <a href="" style="margin-left: 1em;">{{proExist}}</a>
                                                <img src="https://cdn-icons-png.flaticon.com/512/1182/1182679.png" style="height: 1.3em; width: 1.3em; margin-bottom: -0.3em;" alt="">
                                            </div>
                                            {{/if}}
 <label class="form-label">Products</label>
   <select id="category"  class="form-select ml-5" style="width: 22em;
    height: 3em;
    flow:down;
    margin-bottom: 1em;" aria-label="Default select example" name="product">
  <option value="" hidden >Select Poduct</option>
  {{#each data}}
  
  <option ><a href="">{{name}}</a></option>
  
  {{/each}}
</select>

  <div class="form-group ml-5" style="width: 25em;"> 
    <label for="formGroupExampleInput2">Discount</label>
    <input type="value" required="" name="discount" class="form-control" onkeyup="validPrice('dis-count')" id="dis-count">
  </div>
  <button type="submit" class="btn btn-success" style="margin-top: 1em;">CREATE</button>
    <br><br><br><br><br><br>
</form> 
        </center>
     
    </div>
  </div>
</div>
 


<script>

function validPrice(priceId){
        const price = document.getElementById(priceId).value
    const reg = /[a-zA-Z]/;
        if(price==0){
          document.getElementById(priceId).style.borderColor='red'
        return false
        }
    const regex = /^-\d*\.?\d+$/
        if(regex.test(price)==true){
           document.getElementById(priceId).style.borderColor='red'
        return false
        }

         if(reg.test(price)==true){
        document.getElementById(priceId).style.borderColor='red'
         return false;
        }
        document.getElementById(priceId).style.borderColor='#e2e9e1'
        return true
      }


</script>