
   <section class="pt-150 pb-150" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-lg-5"style="margin-top: -45px;margin-left: 20em;">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h4 class="mb-30" style="margin-inline: 6em;">OTP LOGIN</h4>
                                        </div>
                                        <br>
                                        <form action="/otp-varification" method="post">
                                            <div class="form-group">
                                                <label class="float-left">Enter OTP</label>
                                                <input type="text" required="" name="otp">
                                            </div>
                                            {{#if otpErr}}
                                            <div class="alert alert-warning" role="alert">

                                            <a href="" style="margin-left: 1em;">{{otpErr}}</a>
                                                <img src="https://cdn-icons-png.flaticon.com/512/3756/3756730.png" style="    height: 1.5em; width: 1.5em; margin-bottom: -0.3em;" alt="">
                                            </div>
                
                                            {{/if}}
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" style="margin-top: 4em;" name="login">Log in</button>
                                            </div>
                                            <br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                            
