<div class="container d-flex justify-content-center mt-5" style="padding-top: 2em;padding-bottom:2em">

	<div class="card">
		
		<div class="top-container">
			
			<img src="https://cdn-icons-png.flaticon.com/512/9975/9975110.png" class="img-fluid profile-image" width="70">
			
		</div>
        <div>
            <h2 class="success">ORDER CONFIRMED</h2>
        </div>

<div>
    <a href="/">
    <button type="button" class="btn btn-info" style="padding-inline: 4em; background-color:rgb(0, 0, 0);color:rgb(255, 255, 255)">Continue shopping</button>
    </a>
</div>
		
	</div>
	
</div>

<style>body{
	background-color: #fff;
}
.btn.btn-info{
    padding-inline: 4em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-inline: 2em;
    margin-top: 2em;
    border-radius: 6em;
}
.success{
    font-size: 2em;
    color: #000000;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    font-family: Ksans-serif;
}
.card{
	background-color: #fff;
    width: 27em;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgb(169 204 212), 0 6px 20px 0 rgb(110 116 119 / 19%);
    padding: 2rem !important;
}
.top-container{
	display: flex;
	align-items: center;
        
}
.img-fluid.profile-image{
       width: 14em;
    margin-left: 4em;
    margin-top: 1em;
}
.name{
	font-size: 15px;
	font-weight: bold;
	color: #272727;
	position: relative;
	top: 8px;
}
.mail{
	font-size: 14px;
	color: grey;
	position: relative;
	top: 2px;
}
.middle-container{
	background-color: #eee;
	border-radius: 12px;

}
.middle-container:hover {
	border: 1px solid #5957f9;
}
.dollar-div{
	background-color: #5957f9;
	padding: 12px;
	border-radius: 10px;
}
.round-div{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.dollar{
	font-size: 16px !important;
	color: #5957f9 !important;
	font-weight: bold !important;
}


.current-balance{
	font-size: 15px;
	color: #272727;
	font-weight: bold;
}
.amount{
	color: #5957f9;
	font-size: 16px;
	font-weight: bold;
}
.dollar-sign{
	font-size: 16px;
	color: #272727;
	font-weight: bold;
}

.recent-border{
	border-left: 2px solid #5957f9;
	display: flex;
	align-items: center;

}
.recent-border:hover {
	border-bottom: 1px solid #dee2e6!important;
}

.recent-orders{
	font-size: 16px;
	font-weight: 700;
	color: #5957f9;
	margin-left: 2px;
}

.wishlist{
	font-size: 16px;
	font-weight: 700;
	color: #272727;

}

.wishlist-border:hover{
	border-bottom: 1px solid #dee2e6!important;
}
.fashion-studio{
	font-size: 16px;
	font-weight: 700;
	color: #272727;
}
.fashion-studio-border:hover {
	border-bottom: 1px solid #dee2e6!important;
}</style>

<script>

	console.log('href is : ',window.location.href)

	if(window.location.href=='http://localhost:3000/success-coupon'){
		console.log('coooouuuuupppppooonnnnnn')

		window.onload = function() {
       Swal.fire({
  title: 'Congrats !',
  text: 'You got one coupon'
})
      }
	}

	
</script>